.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 30px;
}

.row {
    flex-direction: column;
    text-align: left;
    width: 350px;
}

.cropped {
    width: 350px;
    height: 175px;
    overflow: hidden;
    border-radius: 0.2cm;

}

.cropped img {
    max-width: 350px;
    min-width: 100%;
}

h2,
h3 {
    margin: 0px 0px;
}

h3 {
    color: #506e61;
}

.details-link {
    cursor: pointer;
    text-decoration: none;
    color: #283630;
}

.details-link:hover {
    cursor: pointer;
    padding: 2px;
    margin: -4px;
    border: 2px solid #506e61;
    border-radius: 3%;
    opacity: 0.8;
}

.food-svg,
.vegetable-svg {
    width: 0.8em;
    padding-right: 10px;
}

.home-text {
    font-size: larger;
}