.explore-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xxx-large;
}

.explore-header .svg {
    padding-right: 10px;
}

.search-input,
.search-select {
    border: 2px solid #283630;
    border-radius: 5px;
    margin: 0 5px;
    font-size: x-large;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

.search-input {
    position: relative;
    margin-left: -7px;
    padding-right: 40px;
    padding-left: 40px;
}

.search-box .svg {
    height: 1.5em;
    z-index: 3;
    position: absolute;
    margin-top: 7px;
}

.search-select {
    color: #d9e4de !important;
    background-color: #283630 !important;
    cursor: pointer;
}

.dropdown-option {
    background-color: #506e61;
}

.dropdown-option:hover {
    background-color: #283630;
}

.clear-button {
    visibility: none;
    position: relative;
}

.clear-icon {
    visibility: visible;
    position: absolute;
    right: 15px;
}

.explore-link {
    text-decoration: none;
    color: #283630;
}