.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 30px;
}

.row {
    flex-direction: column;
    text-align: left;
}

.col-text {
    padding-left: 5%;
}

.cropped {
    width: 200px;
    height: 100px;
    overflow: hidden;
    border-radius: 0.2cm;

}

.cropped img {
    max-width: 200px;
    
}

h3,
p {
    font-size: 65%;
    margin: 0px 0px;
}

.details-link {
    cursor: pointer;
    text-decoration: none;
    color: #283630;
}

.details-link:hover {
    cursor: pointer;
    padding: 2px;
    margin: -4px;
    border: 2px solid #506e61;
    border-radius: 3%;
    opacity: 0.8;
}