body,
html {
  margin: 2% 2%;
}

ul {
  list-style-type: none;
}

.svg {
  height: 1em;
}
@media (pointer:none),
(pointer:coarse) {
  .main {
    flex-direction: column;
  }

  .sidebar {
    display: none;
  }

  .breadcrumb {
    width: 0%;
    margin-left: 0%;
    display: none;
  }

  .content {
    margin-left: 0%;
    width: 100%;
  }
}