body,
html {
  margin: 2% 2%;
}

ul {
  list-style-type: none;
}

.svg {
  height: 1em;
}

@media (pointer:none),
(pointer:coarse) {

  #top {
    width: 0;
    margin: 0;
    display: inline;
  }

  .main-card {
    display: flex;
  }

  .sidebar {
    display: none;
  }

  .sub-row {
    flex-direction: column;
    margin: 0;
  }

  .content {
    margin-left: 0%;
    width: 100%;
  }

  .sub-second-col,
  .sidebar {
    display: none;
  }

  .content-links a {
    padding: 1% 2%;
  }

  .content-links .svg {
    display: none;
  }

  .calendar-table {
    display: none;
  }
}