body,
html {
  margin: 2% 2% 0% 2%;
}

ul {
  list-style-type: none;
}

.svg {
  height: 1em;
}

@media (pointer:none),
(pointer:coarse) {


  #top>ol>span:nth-child(2),
  #top>ol>span:nth-child(3) {
    display: none;
  }



  #top {
    margin: auto;
    width: 50%;
    font-size: x-large;
    font-weight: bold;
  }

  .breadcrumb-delimiter {
    display: none;
  }

  .main-card {
    display: flex;
  }

  .sidebar {
    display: none;
  }

  .sub-row {
    flex-direction: column;
    margin: 0;
  }

  .content {
    margin-left: 0%;
    width: 100%;
  }

  .sub-second-col,
  .sidebar {
    display: none;
  }

  .content-links a {
    padding: 1% 2%;
  }

  .content-links .svg {
    display: none;
  }

  .calendar-table {
    display: none;
  }

  #main>div>div.main-cropped.cropped.image.col {
    margin: 4%;
  }
}