span.current-page {
  display: inline-block;
  padding: 4px 8px;
  margin: 0 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #ccc;
}

.species-table {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

.margin-bottom {
  margin-bottom: 5%;
}

span.current-page,
.cropped {
  background-color: #506e61;
}